
  body{
    background-color: #cae8d5;
  }

    hr{
      background-color:none;
      border-style:dotted none none;
      border-color:#ba6b57;
      border-width: 8px;
      width:5%;
    }

    h1{
      color: #35495E;
    }
h3{
  color: #35495E;
}
